
.navbar {
    background-color: #fefefe !important;
    border-bottom: 1px solid #dee2e6;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}


.navbar .nav-link {
    color: #333;
}

.navbar .nav-link:hover {
    background-color: #e9ecef;
    border-radius: 0.25rem;
    color: #0d6efd;
}
